# Javascript Node CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/2.1/language-javascript/ for more details
#
version: 2.0
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:12.4.0

    working_directory: ~/repo

    steps:
      - checkout
      - run: yarn
      - run: yarn test